$primary-color: #d10024;
$light-color: #fafafa;
$gray-text-color: #333;
$bg-color: #b9babc;
$secondary-bg-color: #1e1f29;
$section-bg-color: #e4e7ed;
$link-color: #2b2d42;
$container-width: 1170px;

h1 {
  font-family: "Open Sans", sans-serif;
}
